<a href="https://colab.research.google.com/github/mojahid-t17/python-practice/blob/main/basicpy2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

word="python basic"
print(word[-4:-1])
#create a string and print the lenth
newStr= "hello world"
print(len(newStr))
#create two str and concatenate them
str1="heello"
str2="woorld"
res=str1+" "+str2
print(res)
#4 print a word using slice notation
myStr= "bazinga"
print(myStr[2:6])

{'blue', 1, 'red', 5, 23, 45}
<class 'set'>
asi
11
heello woorld
zing

#removing space
rstrip()---remove from right
lstrip()
strip()
#searching charachter from a string
.starswitch()
.endswitch()

In [ ]:
str1= '     heelo world  '
print(str1.strip())

heelo world

In [ ]:
string1="Becomes"
string2="becomes"
string3="Bear"
string4=" bEautiful"
print(string1.lower().startswith("be"))
print(string2.lower().startswith("be"))
print(string3.lower().startswith("be"))
print(string4.strip().lower().startswith("be"))

True
True
True
True

take input

In [ ]:
x=input()
print(len(x))

bangladesh
10

#find vowel and consunent from a string

In [ ]:
str1=input("enter a string")
vowel=[]
consunant=[]
for char in str1:

  if char in "aeiouAEIOU":
    vowel.append(char)
  else:
    consunant.append(char)
print(vowel)
print(consunant)

enter a stringjhojnApadf
['o', 'A', 'a']
['j', 'h', 'j', 'n', 'p', 'd', 'f']

In [ ]:
# .find() use to find a string when the string not found return -1
name="hello world";

print(name.find("hello"))
#.replace("old", "new")

print(name.replace("world","bd"))
#see the index use .index()
print(name.index("or"))

0
hello bd
7

#math function
round()-->use to round a number to nearest inreger
abs()--> negative to positve
pow()-->or x**y
X^Y%Z-->pow(x,y,z)

#DictionarY:
capitals={
    "name":"dhaka"
    "year":2033
}

In [ ]:
capitals={
    "california":"sacramento",
    "new york":"albany", "texas":"austin"
}
print(capitals.values())
print(capitals.keys())
print(capitals["new york"])
#or
print(capitals.get('new york'))
# if .get(" value")-->"value "doesnt exist the return -->none
print(capitals.get('bangladesh'))
#IV. Accessing key-value pairs:
print(capitals.items())
#print the key value
for key in capitals.keys():
  print(f"the capital of {key} is {capitals[key]}")
#another way
print("another way")
for key,value in capitals.items():
  print(f"the capitals of {key} is {value}")

dict_values(['sacramento', 'albany', 'austin'])
dict_keys(['california', 'new york', 'texas'])
albany
albany
None
dict_items([('california', 'sacramento'), ('new york', 'albany'), ('texas', 'austin')])
the capital of california is sacramento
the capital of new york is albany
the capital of texas is austin
another way
the capitals of california is sacramento
the capitals of new york is albany
the capitals of texas is austin

In [ ]:
word="python basic"
print(word[-4:-1])

asi

In [ ]:
import time
timestamp = time.strftime('%H:%M:%S')
print(timestamp)
timestamp = time.strftime('%H')
print(timestamp)
timestamp = time.strftime('%M')
print(timestamp)
timestamp = time.strftime('%S')
print(timestamp)
# https://docs.python.org/3/library/time.html#time.strftime

17:53:58
17
53
58

In [ ]:
#match case:
x = 4
# x is the variable to match
match x:
    # if x is 0
    case 0:
        print("x is zero")
    # case with if-condition
    case 4 if x % 2 == 0:
        print("x % 2 == 0 and case is 4")
    # Empty case with if-condition
    case _ if x < 10:
        print("x is < 10")
    # default case(will only be matched if the above cases were not matched)
    # so it is basically just an else:
    case _:
        print(x)

x % 2 == 0 and case is 4

#set

In [ ]:
# sets:
nums  = {1, 23, 45, 5, 23, "red", "blue"}
print(nums)
#declare empty set
info=set()
print(type(info))
#I. union() and update():
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Tokyo", "Seoul", "Kabul", "Madrid"}
cities3=cities.union(cities2)
cities4=cities.intersection(cities2)
print(cities3)
print(cities4)
#update cities by city2--all the values like union
# cities.update(cities2)
# print(cities)

#intersection_update updates the cities by the common values
cities.intersection_update(cities2)
print(cities)

{'blue', 1, 'red', 5, 23, 45}
<class 'set'>
{'Berlin', 'Tokyo', 'Kabul', 'Delhi', 'Madrid', 'Seoul'}
{'Tokyo', 'Madrid'}
{'Tokyo', 'Madrid'}

In [ ]:
#III. symmetric_difference and symmetric_difference_update():
#The symmetric_difference() and symmetric_difference_update() methods prints only items that are
#              not similar to both the sets.(remove the common element)
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Tokyo", "Seoul", "Kabul", "Madrid"}
cities3=cities.symmetric_difference(cities2)
print(cities3)
cities2.symmetric_difference_update(cities)
print(cities2)

{'Berlin', 'Kabul', 'Delhi', 'Seoul'}
{'Berlin', 'Kabul', 'Delhi', 'Seoul'}

In [ ]:
#IV. difference() and difference_update(): ----  a\b or a-b
#The difference() and difference_update() methods prints only items that are only present in the original set and not in both the sets.
a={3,5,6,2,9,4,7,8}
b={4,5,6}
c= a.difference(b)
print(c)

{2, 3, 7, 8, 9}

#Set **Methods**

In [ ]:
#isdisjoint():check is the two set are not intersect--return true
a={3,5,6,2,9,4,7,8}
b={33,55,22,34}
print(a.isdisjoint(b))
#superset and subset()
x= {1,2,3,4,5,6,7}
y={3,4,5}
print(x.issuperset(y))
print(y.issuperset(x))
print(y.issubset(x))

True
True
False
True

In [ ]:
x= {1,2,3,4,5,6,7}
y={3,4,5}
x.add(44)
print(x)
#remove and discurd
#remove exit when the element are present otherwise through error
#discard doesnt through error when the element are not present
x.remove(3)
print(x)
# x.remove(88)
# print(x)
x.discard(88)
print(x)
x.discard(44)
print(x)

{1, 2, 3, 4, 5, 6, 7, 44}
{1, 2, 4, 5, 6, 7, 44}
{1, 2, 4, 5, 6, 7, 44}
{1, 2, 4, 5, 6, 7}

In [ ]:
#pop() ----remove last item
x= {1,2,3,4,5,6,7}
print(x)
y={3,4,5}
x.pop()
print(x)

{1, 2, 3, 4, 5, 6, 7}
{2, 3, 4, 5, 6, 7}

In [ ]:
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
item = cities.pop()
print(cities)
print(item)

{'Tokyo', 'Madrid', 'Delhi'}
Berlin

In [ ]:
#del and clear()
#del remove the variable and clear only remove the value
x= {4,3,2,1}
y={5,6,7,8,9}
del x
# print(x)
y.clear()
print(y)

set()