<a href="https://colab.research.google.com/github/mojahid-t17/python-practice/blob/main/python_basic_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#function
#declartioan of  a function
def sum(a,b):
  print(a+b)
sum(2,4)

def sum2 (*numbers):
# here *numbers define a tople
  sum=0
  for num in numbers:
    sum=sum+num
  print(sum)
sum2(1,2,3,4,5)

def sum3(**name):
  #here **name defines as a dictonary
    print(name['fi_name'], name['m_name'],name['lst_name'])


sum3(fi_name='jalal',m_name='ahmed', lst_name= 'abul' )

6
15
jalal ahmed abul

In [ ]:
def res(**name):
  # print(type(name))
  print( name["fname"], name["mname"], name["lname"])


res(mname="Buchanan", lname="Barnes", fname="James")

James Buchanan Barnes